[db]
host = db
port = 3306
user = root
password = password
name = arhpg

[api]
sso_host = sso.2035.university
sso_client_id = a2023supportbot
sso_client_secret = 4225348273c7dbb6b521ceb82233d0f5fd12abcb
sso_redirect_url = https://a2023bot.confti.me/users/oauth/callback
xle_host = xle.2035.university
xle_context = a2121
xle_token = 0fcat9fax2kyzwth
user_host = user-php.k8-dev.u2035dev.ru
user_token = NZB8dfw8qzqqcaxvb
user_tag_id = 3efed9ed-b3a8-47d4-ad1c-e7c2aa6dec74

[tg]
bot_username = a2035_bot
bot_token = 6490331960:AAFiNCfmC2WkLIdyl4hEqbxcRh8LR7shnNk

[urls]
all_program = https://steps.2035.university/timetable/schedule?context=a2121
my_programs = https://steps.2035.university/timetable/my-schedule?context=a2121
program = https://step.u2035test.ru/timetable/event/

[usedesk]
usedesk_host = https://api.usedesk.ru
usedesk_id = 6f9f364206e70eea7d0616c325729a69af3a41fb
usedesk_token = ba771f374fc7adf8bb46c1b0f1a9752724765b02

[vpn]
vpn_host = u2035.nti.work
vpn_username = friendsiv
vpn_password = JqqGVi6TMh$

[kafka]
kafka_bootstrap_servers = 172.33.2.110:9094,172.33.2.111:9094,172.33.2.112:9094
kafka_security_protocol = SASL_PLAINTEXT
kafka_sasl_mechanism = SCRAM-SHA-256
kafka_sasl_plain_username = frendsinvests
